#wrap { margin:0 auto; }
#body { overflow:auto; }
#content { margin-left:200px; float:left; }
#sidebar { float:left; width:150px; min-height:400px; border-right:2px solid grey; }
#sidebar #sidebar-content { font-weight:bold; }
.nick-name { cursor:pointer; }
#alerts { color:green; }
#errors { color:red; }
.BLACK-K,
.WHITE-K,
.BLACK-B,
.WHITE-B,
.WHITE-Q,
.WHITE-R,
.WHITE-P,
.WHITE-H,
.BLACK-Q,
.BLACK-H,
.BLACK-R,
.BLACK-P{background-image:url(/images/pieces.png);background-repeat:no-repeat}
.BLACK-K{background-position:0px 0px;width:29px;height:45px;}
.WHITE-K{background-position:-29px 0px;width:31px;height:44px;}
.BLACK-B{background-position:-60px 0px;width:30px;height:42px;}
.WHITE-B{background-position:0px -45px;width:29px;height:41px;}
.WHITE-Q{background-position:-29px -45px;width:30px;height:40px;}
.WHITE-R{background-position:-59px -45px;width:29px;height:38px;}
.WHITE-P{background-position:-90px 0px;width:27px;height:36px;}
.WHITE-H{background-position:-117px 0px;width:30px;height:36px;}
.BLACK-Q{background-position:-117px -36px;width:28px;height:35px;}
.BLACK-H{background-position:-90px -36px;width:26px;height:32px;}
.BLACK-R{background-position:0px -86px;width:24px;height:31px;}
.BLACK-P{background-position:-24px -86px;width:22px;height:28px;}
td .board-square { width:50px; height:50px; }
.yellow { background-color:yellow; }
.blue { background-color:blue; }
