#wrap { margin:0 auto; }
#body { overflow:auto; }
#content { margin-left:200px; float:left; }
#sidebar { float:left; width:150px; min-height:400px; border-right:2px solid grey; }
#sidebar #sidebar-content { font-weight:bold; }
.nick-name { cursor:pointer; }
#alerts { color:green; }
#errors { color:red; }
