<head>
    <link rel="stylesheet" type="text/css" href="/client/chess.css" media="all" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/client/chess-client.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="body">
            <div id="sidebar">
                <div id="sidebar-contents" style="display:none;"></div>
            </div>

            <div id="content">
                <h1 id="welcome">Welcome to Chess!</h1>
                <form method="" action="" name="username_form">
                    
                    <div id="notify"></div>
                    <div id="failure"></div>

                    <div id="enter-nick">
                        <label>Please enter your username.</label>
                        <input type="text" name="username" />
                        <input type="submit" value="OK" name="username_submit" />
                        <br />
                        <p>Must fit the format: "/^[a-z0-9_]+$/i".</p>
                    </div>

                    <div id="thank-you" style="display:none;">
                        <p>Thank you! You are now registered on the chess server. Select a user on the left to start a game with them.</p>
                    </div>

                    <div id="game-arena">
                        <div id="board1"></div>
                    </div>

                    <!-- <br /><br /> -->
                    <!-- <label>Enter a game to join:</label> <input type="text" name="game" /> -->
                    <!-- <input type="button" value="Join!" id="join-game" /> -->
                    <!-- <input type="button" value="Start!" id="start-game" /> -->
                </form>
            </div>
        </div>
    </div>
</body>
